/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20-Oct-2014, 15:28:23
    Author     : Jake
*/
@import 'imports/varibles';
@import 'imports/admin';
@import 'imports/sidebar';
@import 'imports/services';
@import 'imports/tabs';
@import 'imports/footer';

/*LOGIN*/
.login {
    width: 300px;
    padding: 25px;
    border-radius: 10px;
    margin: 100px auto;
    border: #A5A5A5 3px solid;
    input {
        width: 100%;
        border-radius: 5px;
        font-size: 16px;
        border: #A5A5A5 solid 1px;
        margin: 15px 0;
        padding: 5px;
    }
    input[type="submit"] {
        background-color: #29aae2;
        border: none;
        padding: 10px 0;
        color: white;
    }
    h1 {
        text-align: center;
        background: linear-gradient();
    }
    
}

.small-button {
    padding: 2px;
    margin: 5px;
    background: $lightBlue;
    color: white;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
}
/*HEADER */
header {
    background: #29aae2;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,#29aae2 0,#0855a3 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#29aae2),color-stop(100%,#0855a3));
    background: -webkit-linear-gradient(top,#29aae2 0,#0855a3 100%);
    background: -o-linear-gradient(top,#29aae2 0,#0855a3 100%);
    background: -ms-linear-gradient(top,#29aae2 0,#0855a3 100%);
    background: linear-gradient(to bottom,#29aae2 0,#0855a3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#29aae2',endColorstr='#0855a3',GradientType=0);
    padding-top: 30px;
    padding-bottom: 30px;
    .logo {
	width: 307px;
	padding-left: 25px;
    }
    .header-button {
	color: white;
	text-decoration: none;
	padding: 15px;
	margin: 0 15px;
        img {
            width:35px;
        }
        
    }
    .header-right {
	margin: 30px 0;
	font-size: 20px;
    }
    span {
        color: white;
        width: 188px;
        text-align: left;
        display: block;
        float: left;
    }
    #t {
        width: 50px;
    }
}

/*NAV*/
nav {
    background-color: $darkBlue;
    text-align: center;
    a {
        padding: 25px 40px;
        color: #fff;
        text-transform: uppercase;
        padding: 25px 56px;
        font-size: 18px;
        display: inline-block;
        text-decoration: none;
    }
    a:hover {
        color: $lightBlue;
        text-decoration: none;
    }
    a.current {
        color: $lightBlue;
    }
}

/*GLOBAL*/
body {
    padding: 0;
    margin: 0;
    font-family: 'Cabin', sans-serif;
    min-height: 100%;
}
.right {
    float: right;
}
.float-left {
    float: left;
}
.hidden {
    display: none;
}

.one-col {
    width: 90%;
    margin: 25px auto;
}
.four-col {
    float: left;
    width: 25%;
}
.table {
    width: 100%;
    min-height: 150px;
    table {
        width: 100%;
    }
    table td {
        width: 85px;
        padding: 5px;
        text-align: center;
    } 
    .table-titles {
    color: #32a6de;
    text-transform: uppercase;
    }
}
.table-input {
    width: 100%;
    table {
        width: 100%;
    }
    table td {
        padding: 5px;
    } 
}
.single_page {
    .section-header {
        text-align: center;
        h2 {
            color: #163d68;
            font-size: 35px;
            margin: 10px 0 10px 0;
            text-transform: uppercase;
        }
        p {
           color: #163d68;
            font-size: 14px;
            margin: 0 0 10px 0;
            text-transform: capitalize;
        }
    }	
}
.section-header-input {
    width: 50%;
    margin: 0 auto;
text-align: center;
}
.full-width {
    width: 100%;
    clear: both;
}
.third-width {
    width: 33.33%;
    clear: both;
}
.thumbnail {
    width: 100px;
    margin: 0 auto;
    padding: 5px;
}
.thumbnails {
    text-align: center;
    padding: 0;
}
.edit-button {
    margin: 0px auto;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    img {
        width: 40px;
    }
}
.delete-button {
    background-color: #A00D0D;
    color: white;
    width: 50%;
    margin: 5px auto;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}
.view-button {
    margin: 0px auto;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}
.add-button {
    color: white;
    margin: 5px auto;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    img {
        width: 50px;
    }
}
.button1 {
    cursor: pointer;
    img {
        width: 50px;
    }
}
.main-table {
    width: 80%;
    margin: auto;
    tr {
        float: left;
        width: 50%;
        margin: 0 auto;
        clear: both;
    }
}
/*FORMS*/
.text-input {
    font-size: 14px;
    border: #163D68 1px solid;
    padding: 10px;
    border-radius: 9px;
    margin: 10px 0;
    width: 100%;
    height: 40px;
}
.textarea {
    border: 1px black solid;
    border-radius: 10px;
    padding: 15px;
    height: 100px;
    width: 100%;
}
/*ROUTES*/
.routes {
    width: 70%;
    h2 {
        font-size: 22px;
        text-transform: uppercase;
        color: $darkBlue;
        text-align: left;
    }
    td {
        font-size: 16px;
    }
    table {
        max-width: 400px;
        min-width:100px;
        margin: 15px auto;
        tr {
            width:100%;
        }
        td {
            width: 100%;
            padding: 5px;
        }
    }
}
.two-col {
    width: 100%;
    height: 100%;
    min-height: 100%;
    margin: 0 auto;
}
.left-col {
    width:50%;
    min-width: 300px;
    padding: 10px 2.5%;
}
.right-col {
    width: 50%;
    min-width: 300px;
    padding: 10px 2.5%;
}
.circle_ammount {
    background: red;
    border: black 1px solid;
    border-radius: 50px;
    display: block;
    font-size: 16px;
    width: 26px;
    color: white;
    position: relative;
    left: -22px;
    top: -57px;
}

