footer {
    text-align: center;
    height: 0px;
    top: 1000px;
    overflow: hidden;
    h4 {
        color:white;
    }
    .footer-top {
    background-color: $darkBlue;
    height: 125px;
    padding: 15px 0;
    .first-footer-col {
        border-right: white 1px solid;
    }
    }
    .footer-bot {
        background: $lightBlue;
        height: 30px;
        p {
            color: white;
            padding: 6px;
            margin: 0;
            font-weight: 400;
            font-size: 14px;
        }
        
    }
    .blue {
        color: $lightBlue;
    }
    .grey {
        color: $grey;
    }
}