.main {
  min-height: 100%;
  /* equal to footer height */
    margin-bottom: -142px; 
}
.main:after {
  content: "";
  display: block;
}
.footer, .main:after {
  /* .push must be the same height as footer */
    height: 155px; 
}

footer {
    height: 155px;
    text-align: center;
    h4 {
        color:white;
    }
    .footer-top {
    background-color: $darkBlue;
    height: 125px;
    padding: 15px 0;
    .first-footer-col {
        border-right: white 1px solid;
    }
    }
    .footer-bot {
        background: $lightBlue;
        height: 30px;
        p {
            color: white;
            padding: 6px;
            margin: 0;
            font-weight: 400;
            font-size: 14px;
        }
        
    }
    .blue {
        color: $lightBlue;
    }
    .grey {
        color: $grey;
    }
}