.task-sidebar {
    h3 {
        color: $darkBlue;
        text-transform: capitalize;
        background: lightblue;
        padding: 10px;
        font-size: 18px;
        margin: 5px 0;
    }
    .task_buttons {
        width: 100%;
        display: block;
    }
    .task_button {
        float: left;
        width: 45%;
        padding: 10px 5%;
        background: $lightBlue;
        color: white;
        text-align: center;
        margin: 10px 5px;
        cursor: pointer;
    }
    select, input, textarea {
        width: 100%;
        padding: 3px 1;
        margin: 5px 0;
    }
    ol {
        list-style: none;
        li {
            overflow: hidden;
        }
        div.task_side_content {
            height: 255px;
            margin: 0;
            overflow: hidden;
            transition: all 0.7s ease-out;
            textarea {
                height: 150px;
            }
        }
        div.unextended {
            height: 0;
            overflow: hidden;
            transition: all 0.7s ease-out;
        }
        .employees_list {
            border: 1px #ECE solid;
            border-radius: 4px;
            float: left;
            margin: 5px;
            height: 150px;
            width: 45%;
            padding: 5px 0;
            overflow-y: scroll;
            li {
                background: $lightBlue;
                padding: 3px;
                margin: 3px 0;
                color: white;
                font-weight: 500;
                cursor: move;
                
            }
        }
    }
}
.add-task {
    img {
        width: 50px;
    }
}
.no-box {
    border: none;
    input, textarea {
        border: none;
        background: none;
        max-height: 100px;
    }
}
.center input {
    text-align: center;
    font-size: 24px;
}
.half {
    width: 50%;
    float: left;
}
.full {
    width: 100%;
}

.task-section {
    border-bottom: #ECE 1px solid;
    margin: 10px 0;
    padding: 15px 0;
    min-height: 75px;
}
.quarter {
        text-align: center;
    list-style: none;
    font-size: 18px;
    color: $darkBlue;
    width: 25%;
    float: left;
}
.task-side {
    width: 250px;
    list-style: none;
    margin: 10px !important;
    height: 80%;
   
    h6 {
        color: white;
        float: left;
        width: 100%;
        font-weight: 300;
        font-size: 16px;
        text-align: left;
    }
}